body {
    background-color: aqua;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

img#logo {
    height: 200px;
}

.col-md-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
}

.col-md-3 h1 {
    text-align: center;
}

.col-md-7 {
    max-width: 400px;
    text-align: center;
}

ul {
    text-align: left;
}

.blink-text{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: #10c018;}
    25%		{ color: #1056c0;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
}