<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div class="container">
        <div class="col-md-3">
            <h1 class="blink-text">Avó Cantigas Fan Page</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img id="logo" src="https://i.scdn.co/image/ab67616d0000b2733b35691bbd445ebc878407b0" alt="">
            </div>
            <div  class=col-md-7>
                <main id="content" class="mw-body" role="main">
                    <a id="top"></a>
                    <div class="mw-indicators">
                    </div>
                    <h1 id="firstHeading" class="firstHeading">Carlos Alberto Vidal</h1>
                
                
                    <div id="bodyContent" class="vector-body">
                            <div id="siteSub" class="noprint">Origem: Wikipédia, a enciclopédia livre.</div>
                        <div id="contentSub"></div>
                        <div id="contentSub2"></div>
                        
                        <div id="mw-content-text" class="mw-body-content mw-content-ltr" lang="pt" dir="ltr"><div class="mw-parser-output">                
d                <p>Com apenas 6 anos cantou a canção "A Procissão" numa festa de Natal da Companhia de papel do Prado. Muda-se para <a href="/wiki/Cascais" title="Cascais">Cascais</a> onde começa a tocar guitarra e a ter composto em fazer canções. Era amigo de Rita Ribeiro que lhe arranja um contacto com alguém que tinha conhecimentos na editora <a href="/w/index.php?title=Imavox&amp;action=edit&amp;redlink=1" class="new" title="Imavox (página não existe)">Imavox</a>.
                </p><p>Em 1973 grava o <a href="/wiki/Disco_de_vinil" title="Disco de vinil">single</a> <i>As Filhas da Tia Anica</i>. Segue-se o single <i>Bom Dia, Senhor Alberto!</i> em Março de 1974.
                </p><p>O álbum <i><a href="/w/index.php?title=Changri-L%C3%A1_(%C3%A1lbum)&amp;action=edit&amp;redlink=1" class="new" title="Changri-Lá (álbum) (página não existe)">Changri-Lá</a></i>, editado em 1976, é um disco singular na sua carreira. É considerado por muitos um marco no campo do <a href="/wiki/Rock_progressivo" title="Rock progressivo">rock progressivo</a> feito em Portugal. 
                </p><p>Em 1978 gravou para a <a href="/wiki/Orfeu_(editora)" title="Orfeu (editora)">Orfeu</a> o single <i>Em Mangas de Camisa</i>. No ano de 1979 participou com vários temas no I <a href="/wiki/Festival_da_Nova_Can%C3%A7%C3%A3o_de_Lisboa" title="Festival da Nova Canção de Lisboa">Festival da Nova Canção de Lisboa</a>.
                </p><p>Em 1981 participou no programa "<a href="/w/index.php?title=Palha%C3%A7os_%C3%80_Solta&amp;action=edit&amp;redlink=1" class="new" title="Palhaços À Solta (página não existe)">Palhaços À Solta</a>" da <a href="/wiki/RTP" class="mw-redirect" title="RTP">RTP</a> com <a href="/wiki/Palha%C3%A7o_Croquete" title="Palhaço Croquete">Croquete</a> e Batatinha (<a href="/wiki/Ant%C3%B3nio_Branco" title="António Branco">António Branco</a>). Nesse ano obteve grande sucesso com o tema "A Cantiga do Chouriço".
                </p><p>O personagem "Avô Cantigas", um alter-ego do músico, foi criado por <a href="/wiki/Ant%C3%B3nio_Avelar_de_Pinho" title="António Avelar de Pinho">António Avelar de Pinho</a> e Carlos Alberto Vidal para o programa "<a href="/wiki/O_Passeio_dos_Alegres" title="O Passeio dos Alegres">O Passeio dos Alegres</a>" de <a href="/wiki/J%C3%BAlio_Isidro" title="Júlio Isidro">Júlio Isidro</a>. Gravou o disco <i>As cantigas do Avô Cantigas</i>.
                </p><p>Em 1985 é editado um single com o <i>Chegou O Menino Jesus</i> do Avô Cantigas. Em 1986 é lançado o álbum <i>Histórias do Corpo Humano</i>. Em 1987 lança o single <i>Planeta Azul</i>. No ano seguinte é editado o single <i>Balada de Neve</i>.
                </p><p>Participou, com <a href="/wiki/Sofia_S%C3%A1_da_Bandeira" title="Sofia Sá da Bandeira">Sofia Sá da Bandeira</a>, no programa "<a href="/w/index.php?title=Vitaminas_(RTP)&amp;action=edit&amp;redlink=1" class="new" title="Vitaminas (RTP) (página não existe)">Vitaminas</a>". Cria depois nova personagem com o "Guarda Vidal".
                </p><p>Em 2007, como Avô Cantigas, obtém um grande sucesso com <a href="/w/index.php?title=%27%27Fantasminha_Brincalh%C3%A3o%27%27&amp;action=edit&amp;redlink=1" class="new" title="''Fantasminha Brincalhão'' (página não existe)">''Fantasminha Brincalhão''</a> com permanência durante vários meses no top nacional de vendas. O disco foi reeditado com mais temas e foi editada uma versão em <a href="/wiki/DVD" title="DVD">DVD</a>. <i>Atchim</i> torna-se mais outro grande sucesso do avô cantigas.
                </p><p>Regressa com <i>Gosto Tanto de Ti</i> onde contou com a participação de nomes como <a href="/wiki/Mafalda_Veiga" title="Mafalda Veiga">Mafalda Veiga</a>, <a href="/wiki/Dany_Silva" title="Dany Silva">Dany Silva</a> ou os <a href="/wiki/Shout" class="mw-disambig" title="Shout">Shout</a>.
                </p><p>Em 2011 é lançado um livro e já em 2012 é editado o álbum <i>É Tão Bom Sonhar</i>.
                </p>
                
                
                
                </main>
            </div>
            <div class="col-md-2">
                <tbody>
                    <tr>
                        <th colspan="2" class="topo musica"
                            style="text-align:center; line-height:1.2em; background-color:#f0e68c; font-size:120%;">
                            <span class="">Carlos Alberto Vidal</span>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2"
                            style="text-align:center; text-align:center; line-height:1.1em; background-color:#f0e68c;">
                            Informação geral
                        </th>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">Também
                            conhecido(a) como
                        </td>
                        <td style="vertical-align: top; text-align: left;">avo cantigas
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">Local de
                            nascimento
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/Lous%C3%A3"
                                title="Lousã">Lousã</a><br><a href="/wiki/Portugal" title="Portugal">Portugal</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">País
                        </td>
                        <td style="vertical-align: top; text-align: left;"><img alt="Portugal"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/22px-Flag_of_Portugal.svg.png"
                                decoding="async" width="22" height="15" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/33px-Flag_of_Portugal.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/44px-Flag_of_Portugal.svg.png 2x"
                                data-file-width="600" data-file-height="400">&nbsp;<a href="/wiki/Portugal"
                                title="Portugal">Portugal</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">
                            Nacionalidade
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/Portugueses"
                                title="Portugueses">portuguesa</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;"><a
                                href="/wiki/G%C3%A9nero_musical" class="mw-redirect"
                                title="Género musical">Género(s)</a>
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/M%C3%BAsica_infantojuvenil"
                                title="Música infantojuvenil">Música infantojuvenil</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">
                            Ocupação(ões)
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/M%C3%BAsico"
                                title="Músico">músico</a>, <a href="/wiki/Vocalista" class="mw-redirect"
                                title="Vocalista">cantor</a> e <a href="/wiki/Compositor"
                                title="Compositor">compositor</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;"><a
                                href="/wiki/Instrumento_musical" title="Instrumento musical">Instrumento(s)</a>
                        </td>
                        <td style="vertical-align: top; text-align: left;">Voz
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;"><a
                                href="/wiki/Gravadora" title="Gravadora">Editora(s)</a>
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/Universal_Music"
                                class="mw-redirect" title="Universal Music">Universal Music</a>, <a
                                href="/wiki/Sony_Music" title="Sony Music">Sony Music</a>, Zona Música, <a
                                href="/wiki/Farol_M%C3%BAsica" title="Farol Música">Farol Música</a>, Iplay
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">Página
                            oficial
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a rel="nofollow" class="external text"
                                href="https://www.facebook.com/oavocantigas/">www.facebook.com/oavocantigas</a>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</body>

</html>