<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div class="container">
        <div class="col-md-3">
            <h1 class="blink-text">Avó Cantigas Fan Page</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img id="logo" src="https://i.scdn.co/image/ab67616d0000b2733b35691bbd445ebc878407b0" alt="">
            </div>
            <div  class=col-md-7>
                <main id="content" class="mw-body" role="main">
                    <a id="top"></a>
                    <div class="mw-indicators">
                    </div>
                    <h1 id="firstHeading" class="firstHeading">Carlos Alberto Vidal</h1>
                
                
                    <div id="bodyContent" class="vector-body">
                            <div id="siteSub" class="noprint">Origem: Wikipédia, a enciclopédia livre.</div>
                        <div id="contentSub"></div>
                        <div id="contentSub2"></div>
                        
                        <div id="mw-content-text" class="mw-body-content mw-content-ltr" lang="pt" dir="ltr"><div class="mw-parser-output">

                <h2><span class="mw-headline" id="Discografia">Discografia</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Carlos_Alberto_Vidal&amp;veaction=edit&amp;section=2" class="mw-editsection-visualeditor" title="Editar secção: Discografia">editar</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Carlos_Alberto_Vidal&amp;action=edit&amp;section=2" title="Editar secção: Discografia">editar código-fonte</a><span class="mw-editsection-bracket">]</span></span></h2>
                <ul><li>1973 - <i>As Filhas da Tia Anica/Maria Noite E Dia</i> (Imavox)</li>
                <li>1974 - <i>Bom Dia, Senhor Alberto!/Teu Corpo De Mulher</i> (Single, Imavox)</li>
                <li>1976 - <i><a href="/w/index.php?title=Changri-L%C3%A1_(%C3%A1lbum)&amp;action=edit&amp;redlink=1" class="new" title="Changri-Lá (álbum) (página não existe)">Changri-Lá</a></i> (LP, Imavox)</li>
                <li>1978 - <i>Em Mangas De Camisa/Laranja Quente</i> (Single, Orfeu)</li>
                <li>1980 - <i>O Pensamento /Girassol No Teu Olhar</i> (Single, Polygram)</li>
                <li>1980 - <i>Olhos Tristes</i> - Polygram</li>
                <li>1981 - <i>Palhaços À Solta</i> - Polygram</li>
                <li>1981 - <i>A Cantiga Do Chouriço</i> - Polygram</li>
                <li>1983 - <i>Ó Zé Bate O Pé/Tenho Um Cantinho P'ra Ti</i> - Polygram</li>
                <li>1983 - <i>Pá Pé Pi Pó Pu</i> - Polygram</li>
                <li>1987 - <i>Planeta Azul</i> - Polygram</li>
                <li>1988 - <i>Balada de Neve</i> - Polygram</li>
                <li>1992 - <i>Zoo Lógico</i> (Programa "Vitaminas") - Sony Music</li>
                <li>1997 - <i>Parar E Andar Com O Guarda Vidal</i> - Polygram</li></ul>
                <h2><span id="Discografia_do_Av.C3.B4_Cantigas"></span><span class="mw-headline" id="Discografia_do_Avô_Cantigas">Discografia do Avô Cantigas</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Carlos_Alberto_Vidal&amp;veaction=edit&amp;section=3" class="mw-editsection-visualeditor" title="Editar secção: Discografia do Avô Cantigas">editar</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Carlos_Alberto_Vidal&amp;action=edit&amp;section=3" title="Editar secção: Discografia do Avô Cantigas">editar código-fonte</a><span class="mw-editsection-bracket">]</span></span></h2>
                <ul><li>1982 - <i>As cantigas do avô cantigas</i> - Polygram</li>
                <li>1985 - <i>Chegou o Menino Jesus/Vosso Avô Natal</i> - Polygram (Single)</li>
                <li>1986 - <i>Histórias do Corpo Humano</i> - Polygram</li>
                <li>1987 - <i>Planeta Azul</i> - Polygram</li>
                <li>1994 - <i>Tulimix com o Avô Cantigas</i> - Espaço 3P (cassete)</li>
                <li>1994 - <i>As melhores do Avô Cantigas</i> - Polygram</li>
                <li>1999 - <i>A Descoberta do Euro</i> - Espaço 3P</li>
                <li>2000 - <i>O Livro das Canções</i> - Impala (Livro+CD)</li>
                <li>2001 - <i>Biribum Biribum O Melhor do Avô Cantigas</i> - Universal</li>
                <li>2002 - <i>É Bom Ser Assim</i> - Zona Música</li>
                <li>2003 - <i>A Vassoura Voadora</i> - Zona Música</li>
                <li>2004 - <i>Canta-me Histórias</i> - Farol Música</li>
                <li>2006 - <i>Biscoiteca</i> - Farol Música</li>
                <li>2007 - <i>Fantasminha Brincalhão</i> - Sony BMG</li>
                <li>2008 - <i>A Magia do Avô Cantigas</i> - Farol</li>
                <li>2010 - <i>Gosto Tanto de Ti</i> - Sony</li>
                <li>2012 - <i>É Bom Sonhar</i> - Iplay</li></ul>
                <h2 style="cursor: help;" title="Esta seção foi configurada para não ser editável diretamente. Edite a página toda ou a seção anterior em vez disso."><span id="Refer.C3.AAncias"></span><span class="mw-headline" id="Referências">Referências</span></h2>
                <div class="reflist" style="list-style-type: decimal;"></div>
                <h2><span id="Liga.C3.A7.C3.B5es_externas"></span><span class="mw-headline" id="Ligações_externas">Ligações externas</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Carlos_Alberto_Vidal&amp;veaction=edit&amp;section=4" class="mw-editsection-visualeditor" title="Editar secção: Ligações externas">editar</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Carlos_Alberto_Vidal&amp;action=edit&amp;section=4" title="Editar secção: Ligações externas">editar código-fonte</a><span class="mw-editsection-bracket">]</span></span></h2>
                <ul><li><a rel="nofollow" class="external text" href="https://www.facebook.com/oavocantigas/">Página oficial do Avô Cantigas</a></li></ul>
                <!-- 
                NewPP limit report
                Parsed by mw1263
                Cached time: 20210608155633
                Cache expiry: 1814400
                Reduced expiry: false
                Complications: []
                CPU time usage: 0.310 seconds
                Real time usage: 0.361 seconds
                Preprocessor visited node count: 2822/1000000
                Post‐expand include size: 15746/2097152 bytes
                Template argument size: 3298/2097152 bytes
                Highest expansion depth: 13/40
                Expensive parser function count: 0/500
                Unstrip recursion depth: 0/20
                Unstrip post‐expand size: 0/5000000 bytes
                Lua time usage: 0.056/10.000 seconds
                Lua memory usage: 645277/52428800 bytes
                Number of Wikibase entities loaded: 1/400
                -->
                <!--
                Transclusion expansion time report (%,ms,calls,template)
                100.00%  319.962      1 -total
                 97.17%  310.894      1 Predefinição:Info/Música/artista
                 93.44%  298.985      1 Predefinição:Info
                 25.31%   80.987      1 Predefinição:Categorização_AD_e_AB_de_outras_wikis
                  9.07%   29.017      9 Predefinição:Info/txt
                  4.17%   13.334      1 Predefinição:POR
                  2.72%    8.707      1 Predefinição:Referências
                  2.00%    6.400      1 Predefinição:Wikidata_image
                  1.77%    5.672      4 Predefinição:PRT/aux
                  1.25%    4.007      2 Predefinição:!-
                -->
                
                <!-- Saved in parser cache with key ptwiki:pcache:idhash:924020-0!canonical and timestamp 20210608155633 and revision id 60559056. Serialized with JSON.
                 -->
                </div><noscript><img src="//pt.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" alt="" title="" width="1" height="1" style="border: none; position: absolute;" /></noscript>
                <div class="printfooter">Obtida de "<a dir="ltr" href="https://pt.wikipedia.org/w/index.php?title=Carlos_Alberto_Vidal&amp;oldid=60559056">https://pt.wikipedia.org/w/index.php?title=Carlos_Alberto_Vidal&amp;oldid=60559056</a>"</div></div>
                        <div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Especial:Categorias" title="Especial:Categorias">Categorias</a>: <ul><li><a href="/wiki/Categoria:Naturais_da_Lous%C3%A3" title="Categoria:Naturais da Lousã">Naturais da Lousã</a></li><li><a href="/wiki/Categoria:M%C3%BAsicos_de_Portugal" title="Categoria:Músicos de Portugal">Músicos de Portugal</a></li><li><a href="/wiki/Categoria:Cantores_do_distrito_de_Santar%C3%A9m" title="Categoria:Cantores do distrito de Santarém">Cantores do distrito de Santarém</a></li></ul></div><div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-hidden">Categoria oculta: <ul><li><a href="/wiki/Categoria:!Artigos_sem_imagem_tanto_localmente_quanto_no_Wikidata" title="Categoria:!Artigos sem imagem tanto localmente quanto no Wikidata">!Artigos sem imagem tanto localmente quanto no Wikidata</a></li></ul></div></div>
                    </div>
                
                
                </main>
            </div>
            <div class="col-md-2">
                <tbody>
                    <tr>
                        <th colspan="2" class="topo musica"
                            style="text-align:center; line-height:1.2em; background-color:#f0e68c; font-size:120%;">
                            <span class="">Carlos Alberto Vidal</span>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2"
                            style="text-align:center; text-align:center; line-height:1.1em; background-color:#f0e68c;">
                            Informação geral
                        </th>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">Também
                            conhecido(a) como
                        </td>
                        <td style="vertical-align: top; text-align: left;">avo cantigas
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">Local de
                            nascimento
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/Lous%C3%A3"
                                title="Lousã">Lousã</a><br><a href="/wiki/Portugal" title="Portugal">Portugal</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">País
                        </td>
                        <td style="vertical-align: top; text-align: left;"><img alt="Portugal"
                                src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/22px-Flag_of_Portugal.svg.png"
                                decoding="async" width="22" height="15" class="thumbborder"
                                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/33px-Flag_of_Portugal.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/44px-Flag_of_Portugal.svg.png 2x"
                                data-file-width="600" data-file-height="400">&nbsp;<a href="/wiki/Portugal"
                                title="Portugal">Portugal</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">
                            Nacionalidade
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/Portugueses"
                                title="Portugueses">portuguesa</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;"><a
                                href="/wiki/G%C3%A9nero_musical" class="mw-redirect"
                                title="Género musical">Género(s)</a>
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/M%C3%BAsica_infantojuvenil"
                                title="Música infantojuvenil">Música infantojuvenil</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">
                            Ocupação(ões)
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/M%C3%BAsico"
                                title="Músico">músico</a>, <a href="/wiki/Vocalista" class="mw-redirect"
                                title="Vocalista">cantor</a> e <a href="/wiki/Compositor"
                                title="Compositor">compositor</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;"><a
                                href="/wiki/Instrumento_musical" title="Instrumento musical">Instrumento(s)</a>
                        </td>
                        <td style="vertical-align: top; text-align: left;">Voz
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;"><a
                                href="/wiki/Gravadora" title="Gravadora">Editora(s)</a>
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a href="/wiki/Universal_Music"
                                class="mw-redirect" title="Universal Music">Universal Music</a>, <a
                                href="/wiki/Sony_Music" title="Sony Music">Sony Music</a>, Zona Música, <a
                                href="/wiki/Farol_M%C3%BAsica" title="Farol Música">Farol Música</a>, Iplay
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"
                            style="vertical-align: top; text-align: left; text-align: left; font-weight:bold;">Página
                            oficial
                        </td>
                        <td style="vertical-align: top; text-align: left;"><a rel="nofollow" class="external text"
                                href="https://www.facebook.com/oavocantigas/">www.facebook.com/oavocantigas</a>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</body>

</html>